<ion-view view-title="About Us">

	<ion-content class="has-footer sam2">

		<div class="list card">	

			<div class="item">
				<h2>Italian favorites</h2>
			</div>

			<div class="item item-body">
				<img class="full-image" src="img/slide-4.jpg">
				<p>
                    A fusion of traditional Italian and European bistro elements
                    A wide and varied menu that caters to all tastes.
                    Fresh imported and prepared seafood.
                    Fresh pasta and wood fired pizzas.
                    Daily specials that break the mold.</p>
			</div>

		</div>

		<div class="list">

			<a class="item item-icon-left" href="#">
				<i class="icon ion-email"></i>
                pavevinoaddidon@gmail.com
			</a>

			<a class="item item-icon-left" href="#">
                <i class="icon ion-ios-telephone"></i>
                972 807 6268
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-mic-a"></i>
                5000 BELTLINE RD. SUITE 300, <br> ADDISON, TX 75254
                LOCATED <br>ON THE ADDISON WALK

			</a>

			<!--<a class="item item-icon-left" href="#">-->
				<!--<i class="icon ion-person-stalker"></i>-->
				<!--Friends-->
				<!--<span class="badge badge-assertive">0</span>-->
			<!--</a>-->

		</div>


	</ion-content>
    <div class="tabs bar-footer tabs-icon-top sam">
        <a href="" ui-sref="app.new" class="tab-item">
            <i class="icon ion-ios-home"></i>
            Home
        </a>
        <a href="#" ui-sref="app.about" class="tab-item">
            <i class="icon ion-person"></i>
            About Us
        </a>

        <a href="#" ui-sref="app.book" class="tab-item">
            <i class="icon ion-ios-pie"></i>
            Reservation
        </a>
        <a href="#" onclick="window.open('http://panevino.chefsmobileapps.com/gallery/', '_blank', 'location=no'); return false;"  class="tab-item">
            <i class="icon ion-images"></i>
            Gallery
        </a>
        <a href="#" ui-sref="app.contact" class="tab-item">
            <i class="icon ion-email"></i>
            Contact
        </a>
        <!--<a href="#" onclick="window.open('https://www.facebook.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-facebook"></i>-->
        <!--Facebook-->
        <!--</a>-->
        <!--<a href="#" onclick="window.open('https://www.instagram.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-instagram"></i>-->
        <!--Instagram-->
        <!--</a>-->

    </div>
</ion-view>
