<ion-view view-title="Dinner Menu">

    <ion-content class="has-footer sam2">

        <div class="list">

            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.laun3">
                <img src="img/dinner.jpg">
                <h2>To Share Plates & Crostinis</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.laun3">
                <img src="img/dinner.jpg">
                <h2>House Specialties</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.laun5">
                <img src="img/dinner.jpg">
                <h2>Soups & Salads</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.laun4">
                <img src="img/dinner.jpg">
                <h2>Home Made Pasta</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.laun7">
                <img src="img/dinner.jpg">
                <h2>Pizzas & Flatbreads</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#">
                <img src="img/dinner.jpg">
                <h2>Side Plates</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

        </div>
        <button ui-sref="app.book" class="button button-full button-assertive">
            Menu Reservation
        </button>

    </ion-content>

    <div class="tabs bar-footer tabs-icon-top sam">
        <a href="" ui-sref="app.new" class="tab-item">
            <i class="icon ion-ios-home"></i>
            Home
        </a>
        <a href="#" ui-sref="app.about" class="tab-item">
            <i class="icon ion-person"></i>
            About Us
        </a>

        <a href="#" ui-sref="app.book" class="tab-item">
            <i class="icon ion-ios-pie"></i>
            Reservation
        </a>
        <a href="#" ui-sref="app.gal" class="tab-item">
            <i class="icon ion-images"></i>
            Gallery
        </a>
        <a href="#" ui-sref="app.contact" class="tab-item">
            <i class="icon ion-email"></i>
            Contact
        </a>
        <!--<a href="#" onclick="window.open('https://www.facebook.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-facebook"></i>-->
        <!--Facebook-->
        <!--</a>-->
        <!--<a href="#" onclick="window.open('https://www.instagram.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-instagram"></i>-->
        <!--Instagram-->
        <!--</a>-->

    </div>
</ion-view>
