<ion-view view-title="Menu Reservation">


    <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper padding has-header">
        <iframe data-tap-disabled="true" src="http://panevino.chefsmobileapps.com/gallery/" height="100%" width="100%"></iframe>
    </ion-content>

    <div class="tabs bar-footer tabs-icon-top sam">
        <a href="" ui-sref="app.new" class="tab-item">
            <i class="icon ion-ios-home"></i>
            Home
        </a>
        <a href="#" ui-sref="app.about" class="tab-item">
            <i class="icon ion-person"></i>
            About Us
        </a>

        <a href="#" ui-sref="app.book" class="tab-item">
            <i class="icon ion-ios-pie"></i>
            Reservation
        </a>
        <a href="#" ui-sref="app.gal" class="tab-item">
            <i class="icon ion-images"></i>
            Gallery
        </a>
        <!--<a href="#" onclick="window.open('http://panevino.chefsmobileapps.com/gallery/', '_blank', 'location=no'); return false;"  class="tab-item">-->
            <!--<i class="icon ion-images"></i>-->
            <!--Gallery-->
        <!--</a>-->
        <a href="#" ui-sref="app.contact" class="tab-item">
            <i class="icon ion-email"></i>
            Contact
        </a>
        <!--<a href="#" onclick="window.open('https://www.facebook.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-facebook"></i>-->
        <!--Facebook-->
        <!--</a>-->
        <!--<a href="#" onclick="window.open('https://www.instagram.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-instagram"></i>-->
        <!--Instagram-->
        <!--</a>-->

    </div>
</ion-view>
