<ion-view view-title="Wine List">

    <ion-content class="has-footer sam2">

        <div class="list">

            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.wine1">
                <img src="img/wine_a.jpg">
                <h2>Chardonnay</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.wine1">
                <img src="img/wine_a.jpg">
                <h2>Whites of the World</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.wine1">
                <img src="img/wine_a.jpg">
                <h2>Sparkling</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.wine1">
                <img src="img/wine_a.jpg">
                <h2>Rosé</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.wine1">
                <img src="img/wine_a.jpg">
                <h2>Cabernet Sauvignon</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.wine1">
                <img src="img/wine_a.jpg">
                <h2>Reds of Italy</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.wine1">
                <img src="img/wine_a.jpg">
                <h2>Pinot Noir</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.wine1">
                <img src="img/wine_a.jpg">
                <h2>Reds of the World</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right samdav1" href="#" ui-sref="app.wine1">
                <img src="img/wine_a.jpg">
                <h2>Red Blends</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <button ui-sref="app.book" class="button button-full button-assertive">
            Menu Reservation
        </button>

    </ion-content>

    <div class="tabs bar-footer tabs-icon-top sam">
        <a href="" ui-sref="app.new" class="tab-item">
            <i class="icon ion-ios-home"></i>
            Home
        </a>
        <a href="#" ui-sref="app.about" class="tab-item">
            <i class="icon ion-person"></i>
            About Us
        </a>

        <a href="#" ui-sref="app.book" class="tab-item">
            <i class="icon ion-ios-pie"></i>
            Reservation
        </a>
        <a href="#" ui-sref="app.gal" class="tab-item">
            <i class="icon ion-images"></i>
            Gallery
        </a>
        <a href="#" ui-sref="app.contact" class="tab-item">
            <i class="icon ion-email"></i>
            Contact
        </a>
        <!--<a href="#" onclick="window.open('https://www.facebook.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-facebook"></i>-->
        <!--Facebook-->
        <!--</a>-->
        <!--<a href="#" onclick="window.open('https://www.instagram.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-instagram"></i>-->
        <!--Instagram-->
        <!--</a>-->

    </div>
</ion-view>
