<ion-view view-title="">

    <ion-content class="has-footer sam2">

        <div class="list">

            <a class="item item-avatar" >
                <img src="img/lunch.jpg">
                <h2>Tomato Basil Cup</h2>
                <!--<p>Fresh Basil, Balsamic Glaze</p>-->
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Clam & Shrimp Chowder Cup</h2>
                <!--<p>Caramelized Onions, Gorgonzola Dolce,<br> Balsamic Glaze</p>-->
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Mixed Greens Salad</h2>
                <p>Dried Cranberries, Candied Walnuts, <br> Gorgonzola, White Balsamic</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Caesar Salad</h2>
                <p>Parmesan Cheese, Polenta Croutons</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Tomato Caprese</h2>
                <p>Buffalo Mozzarella, Fresh Basil, <br> Basil Oil, Balsamic Glaze</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Ahi Tuna Salad</h2>
                <p>Mixed Greens, Napa Cabbage, Crispy Pasta, <br> Sesame Ginger Vinaigrette</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Italian Grilled Chicken Cobb Tower</h2>
                <p>Pancetta, Egg, Avocado, Roma Tomato, Gorgonzola</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Scottish Salmon Spinach Salad</h2>
                <p>Poached Pears Strawberries, Goat Cheese, <br> Pomegranate, Pistachios</p>
            </a>
        </div>
        <button ui-sref="app.book" class="button button-full button-assertive">
            Menu Reservation
        </button>

    </ion-content>

    <div class="tabs bar-footer tabs-icon-top sam">
        <a href="" ui-sref="app.new" class="tab-item">
            <i class="icon ion-ios-home"></i>
            Home
        </a>
        <a href="#" ui-sref="app.about" class="tab-item">
            <i class="icon ion-person"></i>
            About Us
        </a>

        <a href="#" ui-sref="app.book" class="tab-item">
            <i class="icon ion-ios-pie"></i>
            Reservation
        </a>
        <a href="#" ui-sref="app.gal" class="tab-item">
            <i class="icon ion-images"></i>
            Gallery
        </a>
        <a href="#" ui-sref="app.contact" class="tab-item">
            <i class="icon ion-email"></i>
            Contact
        </a>
        <!--<a href="#" onclick="window.open('https://www.facebook.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-facebook"></i>-->
        <!--Facebook-->
        <!--</a>-->
        <!--<a href="#" onclick="window.open('https://www.instagram.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-instagram"></i>-->
        <!--Instagram-->
        <!--</a>-->

    </div>
</ion-view>
