<ion-view view-title="">

    <ion-content class="has-footer sam2">

        <div class="list">

            <a class="item item-avatar" >
                <img src="img/lunch.jpg">
                <h2>Prosciutto Wrapped Shrimp Brochette</h2>
                <p>Wild Mushroom Risotto</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Veal Parmesan Meatballs</h2>
                <p>Parmesan Polenta, Fried Sage, Herb Demi Glaze</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Eggplant Parmesan & Buffalo Mozzarella</h2>
                <p>Heirloom Tomato, Basil Pesto, Aged Balsamic</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Calamari & Shrimp Fritto Misto</h2>
                <p>Cauliflower, Zucchini, Jalapeno, Arabiata, Lemon Aioli</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Black Mussels</h2>
                <p>Spanish Chorizo, Roasted Peppers, Tomato Broth</p>
            </a>

        </div>
        <button ui-sref="app.book" class="button button-full button-assertive">
            Menu Reservation
        </button>

    </ion-content>

    <div class="tabs bar-footer tabs-icon-top sam">
        <a href="" ui-sref="app.new" class="tab-item">
            <i class="icon ion-ios-home"></i>
            Home
        </a>
        <a href="#" ui-sref="app.about" class="tab-item">
            <i class="icon ion-person"></i>
            About Us
        </a>

        <a href="#" ui-sref="app.book" class="tab-item">
            <i class="icon ion-ios-pie"></i>
            Reservation
        </a>
        <a href="#" ui-sref="app.gal" class="tab-item">
            <i class="icon ion-images"></i>
            Gallery
        </a>
        <a href="#" ui-sref="app.contact" class="tab-item">
            <i class="icon ion-email"></i>
            Contact
        </a>
        <!--<a href="#" onclick="window.open('https://www.facebook.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-facebook"></i>-->
        <!--Facebook-->
        <!--</a>-->
        <!--<a href="#" onclick="window.open('https://www.instagram.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-instagram"></i>-->
        <!--Instagram-->
        <!--</a>-->

    </div>
</ion-view>
