<ion-view view-title="">

    <ion-content class="has-footer sam2">

        <div class="list">

            <a class="item item-avatar" >
                <img src="img/lunch.jpg">
                <h2>Pizza Margherita</h2>
                <p>Fresh Mozzarella, Fresh Basil</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Prosciutto di San Danielle Pizza</h2>
                <p>Caramelized Onions, Portabella Mushrooms, Fontina</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Pizza di Carne</h2>
                <p>Italian Sausage, Veal Meatballs, Pepperoni</p>
            </a>
            <a class="item item-avatar">
                <img src="img/lunch.jpg">
                <h2>Pepperoni Pizza</h2>
                <p>Pepperoni, Mozzarella, Fresh Basil</p>
            </a>

        </div>
        <button ui-sref="app.book" class="button button-full button-assertive">
            Menu Reservation
        </button>

    </ion-content>

    <div class="tabs bar-footer tabs-icon-top sam">
        <a href="" ui-sref="app.new" class="tab-item">
            <i class="icon ion-ios-home"></i>
            Home
        </a>
        <a href="#" ui-sref="app.about" class="tab-item">
            <i class="icon ion-person"></i>
            About Us
        </a>

        <a href="#" ui-sref="app.book" class="tab-item">
            <i class="icon ion-ios-pie"></i>
            Reservation
        </a>
        <a href="#" ui-sref="app.gal" class="tab-item">
            <i class="icon ion-images"></i>
            Gallery
        </a>
        <a href="#" ui-sref="app.contact" class="tab-item">
            <i class="icon ion-email"></i>
            Contact
        </a>
        <!--<a href="#" onclick="window.open('https://www.facebook.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-facebook"></i>-->
        <!--Facebook-->
        <!--</a>-->
        <!--<a href="#" onclick="window.open('https://www.instagram.com/thenicoleexperience/', '_blank', 'location=no'); return false;" class="tab-item">-->
        <!--<i class="icon ion-social-instagram"></i>-->
        <!--Instagram-->
        <!--</a>-->

    </div>
</ion-view>
